<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#section-service1, #section-service2 {
	display: flex;
	justify-content: center;
}


.woocommerce-tabs {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    font-style: var(--fontStyle, inherit);
    line-height: var(--lineHeight);
    letter-spacing: var(--letterSpacing);
    text-transform: var(--textTransform);
    -webkit-text-decoration: var(--textDecoration);
    text-decoration: var(--textDecoration);
	margin: 5rem;
}</style>
<!-- end Simple Custom CSS and JS -->
